{
  "presets": [
    [
      "@babel/env",
      {
        "modules": "umd",
        "targets": {
          "browsers": ["last 2 versions", "not ie <= 8"]
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}
